@font-face {
    font-family: 'PT Sans';
    // src: url(/src/fonts/PTSans-Bold.ttf);
    // src: url(/src/fonts/PTSans-Regular.ttf);
    src: url(../fonts/PTSans-Bold.ttf);
    src: url(../fonts/PTSans-Regular.ttf);
}