$main-bg: #F7F6F4;
$secondary-bg: #FFFFFF;

$price-color: #FF0D29;
$main-fc: #000000;
$additional-bc: #02101C;
$third-bc: #232735;
$secondary-fc: #808080;
$additioanl-fc: #9B9B9B;

$status-reserved: #686868;
$status-fis-col: #0291C1;
$status-fis-bg: #D6F5FF;
$status-legal-col: #DD4C5D;
$status-legal-bg: #FFE4E4;
$status-sold-bg: #CCCCCC;
$status-reserved-bg: #EDEDED;
$checkbox-bg: #FCE66F;
$clear-bg: #E5E5E5;
$border-bg: #C4C4C4;

$desktop-sm: 1039px;
$tablet: 830px;
$mobile: 650px;
$mobile-sm: 515px;
$mobile-min: 430px;